<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Lỗi thường gặp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:include="/commons/admin :: css"></div>
	<div class="wrapper">
		<div th:include="/commons/admin :: navbar(title='Danh sách các lỗi thường gặp')"></div>
		<div th:include="/commons/admin :: sidebar(parent='category', item='errors')"></div>
		
		<div class="content-wrapper">
			<div class="card">
				<div class="card-body">
					<div class="col-md-12" style="margin-bottom: 20px;">
						<a class="btn btn-primary" type="button" th:href="'javascript:void(0);'" data-toggle="modal" data-target="#modal_creatError">Tạo mới</a>
					</div>
					<div class="clearfix"></div>
					<form th:action="@{/commonErrors}" method="get">
					<div class="col-md-12">
						<div th:include="/commons/pagination :: tblLength"></div>
						<table class="table table-bordered table-hover" id="tblError">
							<thead>
								<tr>
									<th style="text-align: center;">STT</th>
									<th style="text-align: center;">Thiết bị</th>
									<th style="text-align: center;">Mô tả lỗi</th>
									<th style="text-align: center;">Hành động</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="error,iter : ${pages.content}">
									<td class="text-center">[[${iter.count + pages.size*pages.number}]]</td>
									<th:block>
										<td th:if="${error.device != null}">[[${error.device.name}]]</td>
										<td th:unless="${error.device != null}"></td>
									</th:block>
									<td>[[${error.name}]]</td>
									<td class="text-center">
										<a class="btn-edit" th:data-id="${error.id}"><em class="fas fa-edit" style="color: limegreen"></em></a>
										<a class="btn-delete" th:data-id="${error.id}"><em class="fas fa-trash-alt" style="color: red"></em></a>
									</td>
								</tr>
								<tr th:if="${pages.totalElements eq 0}">
									<td colspan="4" class="text-center">Không có dữ liệu</td>
								</tr>
							</tbody>
						</table>
						<div th:include="/commons/pagination :: pagination"></div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
<!-- Modal tạo mới -->
<th:block>
<div th:id="'modal_creatError'" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #63b175">
				<span class="font-weight-bold modal-title" style="color: white; font-size: 20px">Tạo mới lỗi thường gặp</span>
			</div>
			<form id="formCreateError" method="POST">
				<div class="modal-body">
					<div class="form-group">
						<label for="name" class="col-sm-12 col-form-label">Mô tả lỗi</label>
	                    <input class="col-sm-12 form-control" type="text" id="name" name="name" placeholder="Mô tả lỗi">
					</div>
					<div class="form-group">
						<label class="col-sm-12 col-form-label">Thiết bị</label>
						<select class="form-control" id="device" name="device">
							<option value="">Chọn thiết bị</option>
		                    <option th:each="device : ${devices}" th:value="${device.id}">[[${device.name}]]</option>
		              	</select>
	              	</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Đóng</button>
					<button type="submit" class="btn btn-primary">Lưu</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div th:id="'modal_creatError2'" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #63b175">
				<span class="font-weight-bold modal-title" style="color: white; font-size: 20px">Tạo mới lỗi thường gặp</span>
			</div>
			<form id="formUpdateError" method="POST">
				<div class="modal-body">
					<input type="hidden" id="id_edit">
					<div class="form-group">
						<label for="name" class="col-sm-12 col-form-label">Mô tả lỗi</label>
	                    <input class="col-sm-12 form-control" type="text" id="name_edit" name="name_edit" placeholder="Mô tả lỗi">
					</div>
					<div class="form-group">
						<label class="col-sm-12 col-form-label">Thiết bị</label>
						<select class="form-control" id="device_edit" name="device_edit">
							<option value="">Chọn thiết bị</option>
		                    <option th:each="device : ${devices}" th:value="${device.id}">[[${device.name}]]</option>
		              	</select>
	              	</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Đóng</button>
					<button type="submit" class="btn btn-primary">Cập nhật</button>
				</div>
			</form>
		</div>
	</div>
</div>
</th:block>
<!-- Modal tạo mới -->
<div th:include="/commons/admin :: footer"></div>
<div th:include="/commons/admin :: js"></div>
<div th:include="/commons/pagination :: js"></div>
<script th:src="@{/assets/js/categories/common_error.js}"></script>
</body>
</html>