<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Quản lý công việc thực hiện</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:include="/commons/admin :: css"></div>
	<div class="wrapper">
		<div th:include="/commons/admin :: navbar(title='Danh sách công việc thực hiện')"></div>
		<div th:include="/commons/admin :: sidebar(parent='category', item='job-perform')"></div>
		
		<div class="content-wrapper">
			<div class="card">
				<div class="card-body">
					<div class="col-md-12" style="margin-bottom: 20px;">
						<a class="btn btn-primary" type="button" th:href="'javascript:void(0);'" data-toggle="modal" data-target="#modal_createDevices">Tạo mới</a>
					</div>
					<div class="clearfix"></div>
					
					<form th:action="@{/job-perform}" method="get">
					<div class="col-md-12">
						<div th:include="/commons/pagination :: tblLength"></div>
						<table class="table table-bordered table-hover" id="tblDevice">
							<thead>
								<tr>
									<th style="text-align: center;">STT</th>
									<th style="text-align: center;">Công việc thực hiện</th>
									<th style="text-align: center">Hành động</th>
								</tr>
							</thead>
							<tbody>
									<tr th:each="job_perform,iter : ${pages.content}">
										<td class="text-center">[[${iter.count + pages.size*pages.number}]]</td>
										<td>[[${job_perform.name}]]</td>
										<td class="text-center">
											<a class="btn-edit" th:data-id="${job_perform.id}"><em class="fas fa-edit" style="color: limegreen"></em></a>
											<a class="btn-delete" th:data-id="${job_perform.id}"><em class="fas fa-trash-alt" style="color: red"></em></a>
										</td>
									</tr>
									<tr th:if="${pages.totalElements eq 0}">
										<td colspan="3" class="text-center">Không có dữ liệu</td>
									</tr>
								</tbody>
						</table>
						<div th:include="/commons/pagination :: pagination"></div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
<!-- Modal tạo mới -->
<th:block>
<div th:id="'modal_createDevices'" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
		<form method="POST" id="formCreateDevice">
			<div class="modal-header" style="background-color: #63b175">
				<span class="font-weight-bold modal-title" style="color: white; font-size: 20px">Tạo mới công việc</span>
			</div>
			<div class="modal-body">
                <div class="form-group">
                	<label for="name" class="col-form-label">Công việc thực hiện:</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Công việc thực hiện">
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-link" data-dismiss="modal">Đóng</button>
				<button type="submit" class="btn btn-primary">Lưu</button>
			</div>
		
		</form>
		</div>
	</div>
</div>
<div th:id="'modal_createDevices2'" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
		<form method="POST" id="formUpdateDevice">
			<div class="modal-header" style="background-color: #63b175">
				<span class="font-weight-bold modal-title" style="color: white; font-size: 20px">Chỉnh sửa công việc</span>
			</div>
			<div class="modal-body">
				<input class="form-control" type="hidden" name="id_edit" id="id_edit">
				
                <div class="form-group">
                	<label for="name" class="col-form-label">Công việc thực hiện:</label>
                  <input type="text" class="form-control" id="name_edit" name="name_edit" placeholder="Công việc thực hiện">
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-link" data-dismiss="modal">Đóng</button>
				<button type="submit" class="btn btn-primary">Cập nhật</button>
			</div>
		
		</form>
		</div>
	</div>
</div>
</th:block>
<!-- Modal tạo mới -->
<div th:include="/commons/admin :: footer"></div>
<div th:include="/commons/admin :: js"></div>
<div th:include="/commons/pagination :: js"></div>
<script th:src="@{/assets/js/categories/job-perform.js}"></script>
</body>
</html>