<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Phiếu nhập kho</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
<style type="text/css">
.portlet.light.bordered {
	border: 1px solid #e1e1e1 !important;
}

.portlet.light {
	padding: 12px 20px 15px 20px;
	background-color: #fff;
}
.center {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: flex-start;
	padding-top: 14px;
}
em.fas.fas.fa-file-excel.btn-import {
    padding: 5px;
}
a#btn-export {
    margin-right: 0px;
}
.modal-footer {
    padding-right: 0px !important;
}
</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div id="loader" style="display: none;"></div>
	<div th:include="/commons/admin :: css"></div>
	<div class="wrapper">
		<div th:include="/commons/admin :: navbar(title='Phiếu nhập kho')"></div>
		<div th:include="/commons/admin :: sidebar(parent='inventories', item=${inventoryId})"></div>

		<div class="content-wrapper">
			<div class="card">
				<div class="card-body">
					<form id="goods-receipt-form" method="POST">
						<input type="hidden" id="inventoryId" name="inventoryId" th:value="${inventoryId}"/>
						<input type="hidden" id="arr" name="arr"/>
						<div class="row">
							<div class="col-md-3" style="display: flex; flex-direction: column; justify-content: center;">
								<h5 style="font-weight: bold">Danh sách part nhập vào</h5>
							</div>
							<div class="col-md-9" style="display: flex; flex-direction: row; justify-content: flex-end;">
								<a class="btn btn-success btn-export" type="button" th:href="'javascript:void(0)'"><em class="fas fa-file-download"></em>&nbsp;&nbsp;File mẫu</a>
								<button type="button" class="btn btn-md btn-success btn-import" data-toggle="modal"
									data-target="#modal_import_atm_data" data-backdrop="static" data-keyboard="false">
									<em class="fas fa-file-upload"></em>&nbsp;&nbsp;Chọn file dữ liệu</button>
							</div>
						</div>
						<hr/>
						<div class="row">
							<label for="part" class="col-sm-1 col-form-label">Loại part:</label>
							<div class="col-sm-3 form-group">
								<select class="form-control" id="part_type" name="part_type">
									<option value="1">Thiết bị lỗi</option>
									<option value="2">Linh kiện</option>
								</select>
							</div>
							<label for="part" class="col-sm-1 col-form-label">Part:</label>
							<div class="col-sm-3 form-group">
								<select class="form-control" id="parts" name="parts">
									<option value="">------- Chọn part -------</option>
								</select>
							</div>
							<div class="col-sm-2 form-group">
								<input type="number" min="1" placeholder="Số lượng" class="form-control" id="quantity" name="quantity"/>
							</div>
							<div class="col-sm-2 form-group">
								<button type="button" id="btn-add-part" class="btn-primary form-control">Thêm part</button>
							</div>
						</div>
						<hr/>
						<div class="col-md-12">
							<table class="table table-bordered table-hover" id="tblTrackingDetails">
								<thead>
									<th class="text-center">STT</th>
									<th class="text-center">Tên part</th>
									<th class="text-center">Loại part</th>
									<th class="text-center">Số lượng</th>
									<th class="text-center">Hành động</th>
								</thead>
								<tbody></tbody>
							</table>
						</div>
						
						<div class="float-right">
		                	<a th:href="@{/inventory?id=} + ${inventoryId}" type="button" class="btn btn-default">Quay lại</a>
		                  	<button id="btn-submit" type="submit" class="btn btn-primary"><em class="fas fa-check"></em>&nbsp;Tạo phiếu</button>
		                </div>
	               </form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- modal import -->
	<form id="import-atm" enctype="multipart/form-data">
		<div id="modal_import_atm_data" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<span class="font-weight-semibold modal-title">LỰA CHỌN FILE IMPORT</span>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<div class="form-group form-group-float">
							<input type="file" id="inputFile" name="inputFile" class="form-control-uniform"
								accept=".xls,.xlsx" data-fouc>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
						<button type="button" id="btnImport" name="btnImport" class="btn bg-primary"><em
								class="icon-download7 mr-2"></em>Import Excel</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- /modal import -->
	
	<div th:include="/commons/admin :: footer"></div>
	<div th:include="/commons/admin :: js"></div>
	<script th:src="@{/assets/js/inventory/goods-receipt.js}"></script>
</body>

</html>